
/* ------------------------------------------------ Main Paginas Secuandarias ------------------------------------------------------------- */

.main__cards {
    background-color: var(--clr-azulo);
    color: var(--clr-ceniza);
  }
  .card {
    background-color: var(--clr-naranja);
    img {
        margin: 2px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  }
  .title__cards {
    background-color: var(--clr-oranred);
    border-radius: 10px;
  }
  
  .card-body a:hover {
    background-color: var(--clr-oranred);
    transform: scale(1.05);
    transition: all .3s;
  }
 


  