.card-Historia{
    background-color: orange;
  }
  
  .card-titulo-Historia{
    font-size: 3rem;
    color: var(--clr-font);
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .card-text-hitoria{
    padding: 10px 0px 10px 0px;
    text-align: justify;
    font-size: 2rem;
  }
  
  .card-logo-empresa-img{
    padding: 20px;
  }
  
  